@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.logoMask {
  mask-image: url("/aikisendBlack.svg");
  mask-repeat: no-repeat;
  mask-position: 50%;
  mask-size: 100%;
}

.logoMultiChainFeature {
  mask-image: url("/multiChainFeature.svg");
  mask-repeat: no-repeat;
  mask-position: 50%;
  mask-size: 100%;
}